<div class="container">
  <main class="form-siigniin w-100 m-auto">
    <div class="d-flex gap-2 justify-content-center py-5">
      <form class="text-center">
        <img class="mb-4" src="/images/Logo.png" alt="" width="100" height="m-auto">
        <h1 class="h3 mb-3 fw-normal">Let's sign in</h1>

        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-warning" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-body-secondary">© COMP2800 - DTC03</p>
      </form>
    </div>
  </main>
</div>