.background {
  background-color: #84c9b2 !important;
}

.nav-link {
  text-align: right;
}

.navbar-nav .nav-link  {
  font-family: "quicksand", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #1e2d28;
  font-size: 0.9em;
}

.navbar-brand {
  font-family: "quicksand", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #1e2d28;
  font-size: 1.2em;
}

.container-fluid {
  margin: 0 5px;
}

/* Mobile size */
@media (max-width: 990px) {
  .navbar-brand {
    font-size: 1.2em;
  }
  .navbar-nav .nav-link  {
    font-size: 1.1em;
  }
}