<%- include("templates/header") %>

<div class="container my-4">
  <div class="row justify-content-center">
    <div>
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Page not found - 404</h1>
        </div>
        <div class="card-body">
          <p class="card-text text-center">The page you requested could not be found.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<%- include("templates/footer") %>