<%- include("templates/header") %>

    <div class="container">
        <br>
        <div class="container text-center"><img src="images/logo.png" class="card-img-top" alt="PantryMaster logo"
                style="width:200px; height: auto;">
        </div>
        <br>

        <div class="card column"
            style="width: 100%; border-color: bisque; background-color: transparent; border-width: 2px;">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">About Us</h5>
                <p class="card-text">We are a team of passionate food enthusiasts and tech experts dedicated to
                    revolutionizing the way busy home cooks plan
                    and prepare meals. We understand the challenges faced by individuals striving to balance their busy
                    lifestyles with the
                    desire to enjoy delicious, home-cooked meals. Our mission is to provide an innovative and
                    user-friendly app that
                    simplifies the recipe search process, reduces food waste, and enhances the overall cooking
                    experience.
                </p>
            </div>

            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Our Philosophy</h5>
                <p class="card-text">We believe that everyone deserves convenient access to flavorful meals that can be
                    prepared with ease. We are committed
                    to empowering home cooks by leveraging advanced technology to recommend recipes tailored to their
                    specific ingredients,
                    preferences, and dietary needs. Our app is designed to save time, reduce waste, and inspire culinary
                    creativity by
                    offering a personalized and engaging cooking journey. With a focus on quality, convenience, and
                    sustainability, we
                    strive to make meal planning and preparation an enjoyable and fulfilling experience for all.</p>
            </div>
        </div>
        <br>
        <div class="card column"
            style="width: 100%; border-color: bisque; background-color: transparent; border-width: 2px;">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Privacy Policy</h5>
                <p class="card-text"> Effective Date: 2023 May 24</p>
                <p class="card-text">
                    This Privacy Policy outlines how we collect, use, and protect your personal information when you use
                    our mobile
                    application, PantryMaster ("the App"). By using the App, you consent to the practices described in
                    this policy.
                </p>

                <h6 class="card-title" style="font-weight: bold;">1. Information We Collect</h6>
                <h7 class="card-title" style="font-weight: bold;">1.1 Personal Information</h7>
                <div class="container">
                    <p> When you use our App, we may collect the following personal information from you:</p>

                    <strong>Name:</strong> We collect your name to personalize your experience within the App. <br>
                    <strong>Email:</strong> We collect your email address to communicate with you and send notifications
                    about
                    expiring ingredients.<br>
                    <strong>Dietary Restrictions:</strong> We collect information about your dietary restrictions to
                    provide
                    you with
                    relevant recipe
                    suggestions and ensure we notify you of expiring ingredients that match your dietary needs.<br>
                    <strong>Cuisine Preferences:</strong> We collect information about your cuisine preferences to
                    tailor
                    recipe
                    suggestions and notify you
                    about expiring ingredients that are commonly used in your preferred cuisines.
                </div>
                <br>
                <h7 class="card-title" style="font-weight: bold;">1.2 Pantry and Refrigerator Items</h7>
                <div class="container">
                    <p> Our App allows you to input items from your pantry or refrigerator. This information is stored
                        locally on your device
                        and is not transmitted to our servers or shared with any third parties.</p>
                </div>
                <br>
                <h6 class="card-title" style="font-weight: bold;">2. Use of Information</h6>
                <h7 class="card-title" style="font-weight: bold;">2.1 Expiring Ingredient Notifications</h7>
                <div class="container">
                    <p> We use the personal information you provide, including your email address, to send you
                        notifications when specific
                        ingredients in your pantry or refrigerator are near their expiry date. These notifications are
                        intended to help you
                        prevent food waste and make the most of your ingredients.</p>
                </div>
                <h7 class="card-title" style="font-weight: bold;">2.2 Personalization and Recipe Suggestions</h7>
                <div class="container">
                    <p> We may use the information you provide, such as your dietary restrictions and cuisine
                        preferences, to personalize your
                        experience within the App. This includes providing recipe suggestions that align with your
                        preferences and dietary
                        needs.</p>
                </div>
                <br>
                <h6 class="card-title" style="font-weight: bold;">3. Information Sharing</h6>
                <div class="container">
                    <p> We do not share your personal information, including your email address or any other collected
                        data, with third parties
                        without your explicit consent. We respect your privacy and strive to protect your information
                        from unauthorized access
                        or disclosure.</p>
                </div>
                <br>
                <h6 class="card-title" style="font-weight: bold;">4. Data Security</h6>
                <div class="container">
                    <p> We implement industry-standard security measures to protect your personal information from
                        unauthorized access,
                        alteration, disclosure, or destruction. However, please note that no method of transmission over
                        the internet or
                        electronic storage is 100% secure. While we strive to use commercially acceptable means to
                        protect your personal
                        information, we cannot guarantee its absolute security.</p>
                </div>
                <br>
                <h6 class="card-title" style="font-weight: bold;">5. Children's Privacy</h6>
                <div class="container">
                    <p> Our App is not intended for use by individuals under the age of 13. We do not knowingly collect
                        personal information
                        from children. If you are a parent or guardian and believe that your child has provided us with
                        personal information,
                        please contact us, and we will take steps to remove that information from our systems.</p>
                </div>
                <br>
                <h6 class="card-title" style="font-weight: bold;">6. Changes to the Privacy Policy</h6>
                <div class="container">
                    <p> We may update this Privacy Policy from time to time. We will notify you of any changes by
                        posting the revised policy on
                        our website or within the App. It is your responsibility to review this Privacy Policy
                        periodically for any changes.
                        Your continued use of the App after the effective date of the revised Privacy Policy constitutes
                        your acceptance of the
                        changes.</p>
                </div>
                <br>
                <h6 class="card-title" style="font-weight: bold;">7. Contact Us</h6>
                <div class="container">
                    <p> If you have any questions, concerns, or suggestions regarding this Privacy Policy or our privacy
                        practices, please
                        contact us at EMAIL COMES HERE!!!!!.</p>
                </div>





            </div>
        </div>

        <%- include("templates/footer") %>