<%- include("templates/header") %>

  <main class="form-signin w-100 m-auto">
    <div class="d-flex gap-2 justify-content-center py-5">
      <form class="text-center">
        <h5 class="h3 mt-5 mb-3 fw-normal">Your username is</h4>
          <h4 class="mb-5">username goes here</h4> <!-- #id needed -->

          <button class="w-100 btn btn-lg btn-outline-warning" type="submit">Go back to login</button>
          <p class="mt-5 mb-3 text-body-secondary">© COMP2800 - DTC03</p>
      </form>
    </div>
  </main>

<%- include("templates/footer") %>