<%- include("templates/header") %>

  <main class="w-100 m-auto">
    <div class="d-flex gap-2 justify-content-center py-5">
      <form id="securityQuestionForm" method="post" action="/submit/security_question">
        <h4 class="h3 mt-5 mb-4 fw-normal text-center">Answer the Security Question</h4>
        <p class="text-center">Question: <%= securityQuestion %>
        </p>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingAnswer" placeholder="Answer" name="securityAnswer">
          <label for="floatingAnswer"></label>
        </div>
        <button class="w-100 btn btn-lg btn-outline-warning mt-3" type="submit">Submit</button>
      </form>
    </div>
  </main>

<%- include("templates/footer") %>