<%- include("templates/header") %>
  <div class="container">
    <main class="w-100 m-auto">
      <div class="d-flex gap-2 justify-content-center py-5">
        <form class="text-center" method="post" action="/recover/username">
          <h4 class="h3 mt-5 mb-3 fw-normal">Please type your email address to retrieve your username</h4>

          <div class="form-floating mb-5">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
            <label for="email">Email address</label>
          </div>

          <button class="w-100 btn btn-lg btn-outline-warning" type="submit">Next</button>
        </form>
      </div>
    </main>
  </div>
  <%- include("templates/footer") %>