<%- include("templates/header") %>
  <main class="w-100 m-auto">
    <div class="d-flex gap-2 justify-content-center py-5">
      <form class="text-center" method="POST" action="/reset_password">
        <h4 class="h3 mt-5 mb-4 fw-normal text-center">Create new password</h4>
        <div class="form-floating">
          <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required>
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" name="confirmPassword" id="floatingConfirmPassword"
            placeholder="Confirm Password" required>
          <label for="floatingConfirmPassword">Confirm password</label>
        </div>
        <button class="w-100 btn btn-lg btn-outline-warning mt-3" type="submit">Submit</button>
      </form>
    </div>
  </main>
<%- include("templates/footer") %>