<%- include("templates/header") %>
    <div class="container text-center">
        <!-- <br>
        <br>
        <img src="/images/logo.png" alt="Logo" width="200px"> -->
        <% if (!session.GLOBAL_AUTHENTICATED) { %>
            <br>
            <br>
            <button type="button" class="mt-3 w-50 btn btn-lg btn-warning" onclick="location.href='/signup';">Sign
                up</button>
            <br>
            <button type="button" class="mt-3 w-50 btn btn-lg btn-warning mb-5" onclick="location.href='/login';">Log
                in</button>
            <% } else { %>
                <br>
                <h2>Account preference</h2>
                <br>
                <div class="form-group">
                    <h3> Preferred Cuisine</h3>
                    <div class="container text-centre">
                        <div class="row ">
                            <div class="col">
                                <div class="text-start">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="cuisinePreference"
                                            value="European">
                                        European
                                        <br>
                                        <input class="form-check-input" type="radio" name="cuisinePreference"
                                            value="Korean">
                                        Korean
                                        <br>
                                        <input class="form-check-input" type="radio" name="cuisinePreference"
                                            value="Greek">
                                        Greek
                                    </label>
                                    <br>
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-start">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="cuisinePreference"
                                            value="Mexican">
                                        Mexican
                                        <br>
                                        <input class="form-check-input" type="radio" name="cuisinePreference"
                                            value="Thai">
                                        Thai
                                        <br>
                                        <input class="form-check-input" type="radio" name="cuisinePreference"
                                            value="Indian">
                                        Indian
                                    </label>
                                    <br>
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-start">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="cuisinePreference"
                                            value="Chinese">
                                        Chinese
                                        <br>
                                        <input class="form-check-input" type="radio" name="cuisinePreference"
                                            value="Brazilian">
                                        Brazilian
                                        <br>
                                        <input class="form-check-input" type="radio" name="cuisinePreference"
                                            value="Japanese">
                                        Japanese
                                    </label>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <h3> Dietary Restriction</h3>
                    <div class="container text-centre">
                        <div class="row ">
                            <div class="col">
                                <div class="text-start">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="cuisinePreference"
                                            value="Vegan">
                                        Vegan
                                        <br>
                                        <input class="form-check-input" type="radio" name="cuisinePreference"
                                            value="YeastFree">
                                        Yeast Free
                                    </label>
                                    <br>
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-start">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="cuisinePreference"
                                            value="lactoFree">
                                        Lactose Free
                                        <br>
                                        <input class="form-check-input" type="radio" name="cuisinePreference"
                                            value="nutFree">
                                        Nut Free
                                    </label>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="featurePreference">
                        <h3>Cooking Assistant</h3>
                    </label>
                    <select class="form-select" name="AIPersona" data-placeholder="Click to choose">
                        <!-- <option value="option0">Click to choose </option> -->
                        <option value="option1">AI Option 1</option>
                        <option value="option2">AI Option 2</option>
                        <option value="option3">AI Option 3</option>
                    </select>
                </div>
                <% } %>
    </div>
    <%- include("templates/footer") %>