<%- include("templates/header") %>
  <link rel="stylesheet" href="/style/dietary_restriction.css">

  <h1 class="text-center">Any dietary restriction?</h1>

  <!-- dietary restriction buttons go here -->
  <form id="dietaryRestrictionForm" action="preference_dietary_restriction" method="post">
    <input type="hidden" name="userId" value="<%= userId %>">
    <section>
      <div class="tile">
        <input type="checkbox" name="dietaryRestrictions[]" id="Vegan" value="Vegan" class="checkbox">
        <label for="Vegan">
          <img src="images/user_preference/vegan.png" class="rounded-circle" width="80" height="80">
          <h6>Vegan</h6>
        </label>
      </div>
      <div class="tile">
        <input type="checkbox" name="dietaryRestrictions[]" id="Lactose Free" value="Lactose Free" class="checkbox">
        <label for="LactoseFree">
          <img src="images/user_preference/lactofree.png" class="rounded-circle" width="80" height="80">
          <h6>Lactose free</h6>
        </label>
      </div>
      <div class="tile">
        <input type="checkbox" name="dietaryRestrictions[]" id="Yeast Breads" value="Yeast Breads" class="checkbox">
        <label for="YeastFree">
          <img src="images/user_preference/yeastfree.png" class="rounded-circle" width="80" height="80">
          <h6>Yeast free</h6>
        </label>
      </div>
      <div class="tile">
        <input type="checkbox" name="dietaryRestrictions[]" id="Nuts" value="Nuts" class="checkbox">
        <label for="NutFree">
          <img src="images/user_preference/nutfree.png" class="rounded-circle" width="80" height="80">
          <h6>Nut free</h6>
        </label>
      </div>
    </section>
    <div class="container text-center">
      <button class="w-75 btn btn-lg btn-warning mt-3" type="submit" name="submit">Let's start!</button>
      <!-- <button class="btn btn-lg btn-warning mt-3" type="submit">Next</button><br>
      <button class="btn btn-lg btn-light mt-2" type="submit">Skip</button> -->
    </div>
  </form>

  <%- include("templates/footer") %>