<%- include("templates/header") %>
    <form action="/recipe" method="GET">
        <input type="text" name="search" placeholder="Search recipes...">
        <button type="submit">Search</button>
    </form>

    

    <%- include("templates/footer") %>