<%- include("templates/header") %>
  <main class="form-signin w-100 m-auto">
    <div class="d-flex gap-2 justify-content-center container py-5">
      <form class="text-center">
        <% if (Array.isArray(errorMessage)) { %>
          <% errorMessage.forEach((error)=> { %>
            <p>
              <%= error %>
            </p>
            <% }); %>
              <% } else if (errorMessage) { %>
                <h3 class="mt-5 mb-3 fw-normal">Error</h4>
                <p class="mb-4 fw-normal px-2">
                  <%= errorMessage %>
                </p>
                <% } %>
                  <a class="w-75 btn btn-lg btn-outline-warning" href="/password_change">Try again</a>
      </form>
    </div>
  </main>
<%- include("templates/footer") %>