<%- include("templates/header") %>
  <main class="form-signin w-100 m-auto">
    <div class="d-flex gap-2 justify-content-center py-5">
      <form class="text-center">
          <h5 class="h3 mt-5 mb-4 fw-normal">your password changed successfully!</h5>
          <a class="w-50 btn btn-lg btn-outline-warning" href="/login">Back to Login</a>
      </form>
    </div>
  </main>
<%- include("templates/footer") %>