<%- include("templates/header") %>
  <div class="container">
    <% if (Array.isArray(errorMessage)) { %>
      <% errorMessage.forEach((error)=> { %>
        <p>
          <%= error %>
        </p>
        <% }); %>
          <% } else if (errorMessage) { %>
            <p>
              <%= errorMessage %>
            </p>
            <% } %>
              <a href="/create_new_password">Try again</a>
  </div>
  <%- include("templates/footer") %>