<%- include("templates/header") %>
  <main class="form-signin w-100 m-auto container">
    <div class="d-flex gap-2 justify-content-center py-5">
      <form class="text-center">
        <h5 class="h3 mt-5 mb-3 fw-normal">Incorrect answer to the question</h4>
          <p class="mb-5">Please enter a correct answer for your question.</p>
          <a class="w-50 btn btn-lg btn-outline-warning" href="/forget_password">Try again</a>
      </form>
    </div>
  </main>
<%- include("templates/footer") %>