<%- include("templates/header") %>
<link rel="stylesheet" href="/style/signup.css">
<div class="container">
  <main class="form-signin m-auto w-75">
 <div class="row justify-content-center py-5">
      <form class="col-sm-8 col-md-6 col-lg-4 text-center" action="/signupSubmit" method="post"> 
        <img class="mb-4" src="/images/logo.png" alt="" width="100" height="m-auto">
        <h1 class="h3 mb-4 fw-normal">Let's sign up</h1>
        <% if (typeof errorMessage !== 'undefined' && errorMessage.length > 0) { %>
          <div class="alert alert-danger" role="alert">
            <% errorMessage.forEach(message => { %>
              <p><%= message %></p>
            <% }); %>
          </div>
        <% } %>
        <div class="form-floating mb-2">
          <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="Username" data-bs-toggle="tooltip" data-bs-placement="right" title="Username must only be alphanumeric and between 5 to 15 characters long">
          <label for="floatingUsername">Username<span style="color: red;">*</span></label>
        </div>
        <div class="form-floating mb-2">
          <input type="text" name="name" class="form-control" id="floatingName" placeholder="Name" data-bs-toggle="tooltip" data-bs-placement="right" title="Name must only be alphabetic and between 5 to 15 characters long">
          <label for="floatingUsername">Name<span style="color: red;">*</span></label>
        </div>
        <div class="form-floating mb-2">
          <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="name@example.com" data-bs-toggle="tooltip" data-bs-placement="right" title="Enter a valid email address">
          <label for="floatingEmail">Email address<span style="color: red;">*</span></label>
        </div>
        <div class="form-floating mb-2">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" data-bs-toggle="tooltip" data-bs-placement="right" title="Choose a strong password">
          <label for="floatingPassword">Password<span style="color: red;">*</span></label>
        </div>
        <div class="form-floating mb-2">
          <input type="password" name="confirmPassword" class="form-control" id="floatingConfirmPassword" placeholder="Confirm password" data-bs-toggle="tooltip" data-bs-placement="right" title="Re-enter the password for confirmation">
          <label for="floatingConfirmPassword">Confirm password<span style="color: red;">*</span></label>
        </div>
        <div class="form-floating mb-2">
          <input type="text" name="securityQuestion" class="form-control" id="floatingSecurityQuestion" placeholder="Security question" data-bs-toggle="tooltip" data-bs-placement="right" title="Security question must be between 5 and 30 characters long">
          <label for="floatingSecurityQuestion">Add your security question<span style="color: red;">*</span></label>
        </div>
        <div class="form-floating mb-2">
          <input type="text" name="securityAnswer" class="form-control" id="floatingSecurityAnswer" placeholder="Security answer" data-bs-toggle="tooltip" data-bs-placement="right" title="Security answer must be between 5 and 30 characters long">
          <label for="floatingSecurityAnswer">Your answer<span style="color: red;">*</span></label>
        </div>
        <button class="w-100 btn btn-lg btn-warning mt-3" type="submit" name="submit">Next</button>
        <p style="font-size: 12px; color: gray; margin-top: 10px;">Note: Fields marked with <span style="color: red;">*</span> are mandatory.</p>
      </form>
    </div>
  </main>
</div>
<%- include("templates/footer") %>
<script>
  $(document).ready(function() {
    $('[data-bs-toggle="tooltip"]').tooltip();
  });
</script>
