<%- include("templates/header") %>

    <main class="form-signin w-100 m-auto">
        <div class="d-flex gap-2 justify-content-center py-5">
            <form class="text-center">
                <h5 class="h3 mt-5 mb-3 fw-normal">Username not found</h4>
                    <p class="mb-5">The email address you entered is not associated with any account.</p>
                    <a class="w-100 btn btn-lg btn-outline-warning" href="/forget_username">Try again</a>
            </form>
        </div>
    </main>

    <%- include("templates/footer") %>