<%- include("templates/header") %>

  <main class="form-signin w-100 m-auto">
    <div class="d-flex gap-2 justify-content-center py-5">
      <!-- username display form goes here -->
      <form class="text-center">
        <h5 class="h3 mt-5 mb-3 fw-normal">Your username is</h4>
          <h4 class="mb-5"> <%= username %> </h4>
          <a class="w-100 btn btn-lg btn-outline-warning" href="/login">Go back to login</a>
      </form>
    </div>

    <%- include("templates/footer") %>
