</div> <!-- main content container -->
</body>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-end py-3 my-4 border-top">
      <div class="">
        <span class="">PantryMaster 2023</span>
      </div>
    </footer>
  </div>
</html>