</div> <!-- main content container -->
</body>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-end py-3 my-4 mt-5 border-top" onload="updateEmoji()">
    <div class="">
      <span class="footer">©2023 PantryMaster </span><a href="#" id="clickHere">✨</a>
    </div>
  </footer>
</div>

<!-- js from js folder -->
<script src="/js/fun.js"></script>

</html>