<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <title>Document</title>
    <%- include("svg") %>
    <div class="container">
        <header class="d-flex justify-content-center py-3 border-bottom">
          <ul class="nav nav-pills">
            <% for(var i=0; i<locals.navLinks.length; i++) { %>
                <li class="nav-item">
                    <a href="<%= locals.navLinks[i].path %>" class="nav-link
                        <% if (locals.navLinks[i].path == locals.currentURL) { %>active<% } %>">
                        <%= locals.navLinks[i].label %>
                    </a>
                </li>
            <% } %>
        </ul>
        </header>
      </div>
      <div class="container">

</head>
<body>
    <br>